body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  tab-size: 2;
  margin: .5em auto;
  float: left;
  width: 100%;
}


#content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}


#content #series-details,
#content #series-details #controls,
#content #series-details #current-sequence,
#content #play,
#content #rhythm {
  position: relative;
  float: left;
  /* margin: 0 0 1em 0; */
}


#content #series-details,
#content #play,
#content #rhythm {
  margin-bottom: 1em;
}


#content #series-details #controls,
#content #play {
  width: 500px;
}


#content #series-details #current-sequence,
#content #rhythm {
  width: 580px;
}


#content #series-details #current-sequence {
  text-align: right;
  visibility: hidden;
}


#content select, #content input[type="text"] {
  margin-right: 1em;
}


#content #play {
  text-align: right;
}


#content #play #bpm-value {
  display: inline-block;
  width: 32px;
}


#content #play #bpm {
  vertical-align: middle;
  margin: -2px 1em 0 0;
}


#content #rhythm label {
  display: block;
  margin: 5px 0 0 70px;
  font-size: .8em;
}


#content #rhythm label input[type="checkbox"] {
  margin: -2px 0 0;
  vertical-align: middle;
}


#content #rhythm button {
  position: relative;
  width: 100%;
  margin-left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #09c;
}


#content button.active {
  background-color: #09c;
}


#content button.off {
  background-color: #eee;
}
