body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  tab-size: 2;
  margin: .5em auto;
  float: left;
  width: 100%;
  /* background: #010D23; */
}


h1 { font-size: 2em;   margin: 1em auto .5em; color: #333; }
h2, h3, h4, h5 { color: #2a4273; }
h2 { font-size: 1.6em; margin: 1em auto 1em; }
h3 { font-size: 1.4em; margin: 1em auto .5em; }
h4 { font-size: 1.3em; margin: 1em auto .5em; }
h5 { font-size: 1.1em; margin: 1em auto .5em; }


#content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}


#content nav,
#content .main,
#content #series-details,
#content #series-details #controls,
#content #current-sequence,
#content #motif,
#content #motif h3,
#content #shifts,
#content #shifts h3,
#content #rhythm,
#content #rhythm h3,
#content #scale-tonic,
#content #scale-tonic h3,
#content .data,
#content .about,
#content #transformations,
#content #transformations li.transform,
#content .transform-type,
#content #add-transform,
#content #play,
#content #play #play-button-wrapper,
#content #play #step-rate-wrapper,
#content #drum-machine #drum-labels,
#content #drum-machine #drum-labels .drum-label,
#content #drum-machine .drum-step,
#content ul#experiments
#content ul#experiments li,
#content .digression,
#content div.note-ruler,
#content div.piano-roll,
#content #markov-chain-stm,
#content div.markov-note-ruler,
#content div.markov-piano-roll {
  position: relative;
  float: left;
}


#content nav {
  width: 100%;
  z-index: 9;
}


#content nav ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
  display: flex;
}


#content nav ul li {
  display: inline;
  margin: 0;
}


#content nav ul li a,
#content nav ul li span {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: bold;
  color: #09c;
  border: 1px solid #ccc;
  background-color: #fff;
}


#content nav ul li a:hover {
  text-decoration: none;
}


#content nav ul li span.selected {
  border-bottom: 1px solid #fff;
  color: #333;
}


#content .main {
  width: 1000px;
  min-height: 300px;
  margin-top: -1px;
  margin-bottom: 150px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
}


#content #home-page-info {
  background-color: #fff;
  background-blend-mode: lighten;
}

#content #home-page-info p:first-child { margin-top: 50px; text-align: center; }
#content #home-page-info p:first-child strong {
  color: #158;
  background-color: #EFE491;
  padding: 2px auto;
}


#content p.breadcrumbs {
  font-size: .9em;
  margin: 2em 0;
}


#content a.release {
  display: block;
  color: black;
}


#content a.release:hover, #content a.release:visited {
  text-decoration: none;
  color: black;
}

#content #series-details {
  margin-bottom: 1.5em;
  width: 1000px;
}


#content #play {
  margin-bottom: .75em;
}


#content #series-details #controls {
  width: 460px;
  margin: 6px 0 0 0;
}


#content #infinity-series #rhythm,
#content #self-similarity #rhythm {
  width: 528px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
}


#content #infinity-series #rhythm.active,
#content #self-similarity #rhythm.active {
  background-color: #eee;
}


#content #rhythm strong {
  color: #777;
}


#content #rhythm.active strong {
  color: #000;
}


#content #play {
  width: 1000px;
}


#content #play #play-button-wrapper {
  width: 200px;
}


#content #play #step-rate-wrapper {
  width: 800px;
  text-align: right;
}


#content select,
#content input[type="text"],
#content input#motif-length,
#content input#shift-seq-length,
#content input#rhythm-step-count {
  margin-right: .2em;
}


#content input#motif-length,
#content input#shift-seq-length,
#content input#rhythm-step-count {
  width: 30px;
  text-align: right;
}


#content #play #step-rate-wrapper #step-rate {
  margin-right: 0;
}


#content #play #bpm-value {
  display: inline-block;
  width: 32px;
}


#content #play #bpm {
  vertical-align: middle;
  margin: -2px 1em 0 0;
}


#content #current-sequence {
  width: 100%;
  margin: 1em auto;
  visibility: hidden;
  font-size: .9em;
  text-align: center;
}


#content #rhythm label input[type="checkbox"] {
  margin: -2px 0 0;
  vertical-align: middle;
}


#content #rhythm button {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin-top: -4px;
  width: 20px;
  height: 20px;
  border: 1px solid #09c;
  background-color: #fff;
}


#content #rhythm button:last-of-type {
  margin-right: .5em;
}


#content #rhythm button:disabled {
  background: #eee;
  border: 1px solid #ddd;
}


#content #rhythm button:disabled.active {
  background: #aaa;
}


#content button.active,
#content #rhythm button.active {
  background-color: #09c;
}


#content button.off {
  background-color: #eee;
}


div.note-ruler, div.markov-note-ruler {
  width: 60px;
  clear: left;
}


div.piano-roll, div.markov-piano-roll {
  width: 940px;
  overflow-x: scroll;
}


#drum-wrapper {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#drum-machine {
  width: 512px;
  padding: 10px;
  border: 1px solid #ccc;
}


#drum-machine .drum-step {
  width: 27px;
}


#drum-machine .drum-step button {
  /* margin: 2px 2px 0 2px; */
  width: 25px;
  height: 25px;
  border: 1px solid #09c;
}


#drum-machine #drum-labels {
  width: 75px;
  margin-right: 5px;
}


#drum-machine #drum-labels .drum-label {
  width: 75px;
  height: 25px;
  margin: 3px 0 0 0;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}


#drum-machine #drum-labels .drum-label:first-child,
#drum-machine .drum-step button.transport  {
  height: 15px;
  margin-bottom: 0;
}


#drum-machine .drum-step button.transport {
  background-color: #999;
  border: 1px solid #bbb;
}


.about {
  width: 100%;
  margin-top: 2em;
}


.about p, .about div {
  clear: left;
}


.about ol.citations {
  padding-inline-start: 20px;
}


.about ol.citations li {
  margin-bottom: 1em;
}


.about span.citation {
  margin-left: 40px;
  text-indent: -40px;
  display: block;
}


.about .aside {
  float: right;
  width: 30%;
  margin: 0 0 1em 2em;
}


.about .aside h5 {
  margin: 0;
  font-size: 1.1em;
}


.about .work {
  font-style: italic;
}


#content a,
#content a:visited {
  color: #158;
  text-decoration: none;
}


#content a:hover {
  text-decoration: underline;
}


#content table#self-replicating-melody {
  border-collapse: collapse;
  width: 100%;
}


#content table#self-replicating-melody tbody th,
#content table#self-replicating-melody thead th.first {
  text-align: right;
  padding-right: 15px;
  width: 150px;
}


#content table#self-replicating-melody tbody td {
  text-align: center;
}


#content table#self-replicating-melody th,
#content table#self-replicating-melody td {
  background-color: #fff;
}


#content table#self-replicating-melody th.active,
#content table#self-replicating-melody td.active {
  background-color: yellow;
}


#content p.highlight-ratio {
  text-align: center;
}


#content ul#experiments {
  list-style: none;
  padding-left: 0;
}


#content ul#experiments li {
  width: 100%;
  font-size: 2em;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1000px;
  margin-top: 1em;
}


#content ul#experiments li a {
  display: block;
  width: 100%;
}


#content ul#experiments li a:hover {
  text-decoration: none;
  color: #333;
}


#content ul#experiments li a span {
  display: block;
  font-size: .5em;
  color: #111;
}


#content ul#experiments li a:hover span {
  color: #09c;
}


#content #wtf {
  width: 1040px;
  padding: 10px 20px 20px 20px;
}


#content #wtf a.obscured { color: black; }
#content #wtf a.obscured:hover { color: black; text-decoration: none; }


#content #motif,
#content #shifts,
#content #rhythm,
#content #scale-tonic {
  width: 100%;
}


#content #motif h3,
#content #shifts h3,
#content #rhythm h3,
#content #scale-tonic h3 {
  margin: -5px 0 0 0;
  width: 100px;
  padding-right: 20px;
  text-align: right;
}


#content .data {
  width: 840px;
}


#scales-as-vectors #rhythm,
#scales-as-vectors #shifts,
#scales-as-vectors #scale-tonic {
  margin-top: 1em;
}


#scales-as-vectors .data .control-label {
  display: inline-block;
  width: 125px;
  text-align: right;
  margin-right: .5em;
  margin-left: 1em;
}


#scales-as-vectors .data select {
  width: 35px;
  border: 1px solid #aaa;
  margin: auto 10px auto auto;
}


#scales-as-vectors #rhythm .data button {
  width: 31px;
  margin: 0 10px 0 0;
}


#scales-as-vectors #scale-tonic .data {
  text-align: center;
  margin-left: 160px;
}


#scales-as-vectors #scale-tonic .data select {
  width: auto;
}


#cycle-rhythm {
  margin-left: 2em;
}


#content .digression {
  width: 958px;
  margin: auto 0 1em;
  padding: 10px 20px;
  background: #eee;
  border: 1px solid #ccc;
}


#content #markov-chain-stm {
  width: 100%;
  font-size: .9em;
}


#content #markov-chain-stm h3,
#content #markov-chain-stm #markov-play-wrapper,
#content #markov-chain-stm table {
  position: relative;
  float: left;
}


#content #markov-chain-stm h3 {
  width: 67%;
}


#content #markov-chain-stm #markov-play-wrapper {
  width: 33%;
  margin-top: 1.5em;
  text-align: right;
}


#content #markov-chain-stm table {
  width: 100%;
  margin-top: 1.5em;
}


#grid-electron-live ol li.current {
  font-weight: bold;
  font-size: 1.1em;
  color: #555;
}


#quick-details {
  list-style: none;
  padding-left: 0;
}
