body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  tab-size: 2;
  margin: .5em auto;
  float: left;
  width: 100%;
}


#content {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}


#content #infinity-series,
#content #series-details,
#content #series-details #controls,
#content #series-details #current-sequence,
#content #play,
#content #play #play-button-wrapper,
#content #play #step-rate-wrapper,
#content #rhythm,
#content #drum-machine #drum-labels,
#content #drum-machine #drum-labels .drum-label,
#content #drum-machine .drum-step {
  position: relative;
  float: left;
}


#content #series-details {
  margin-bottom: 1.5em;
}


#content #play {
  margin-bottom: .75em;
}


#content #series-details #controls {
  width: 520px;
  margin: 6px 0 0 0;
}


#content #rhythm {
  width: 548px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
}


#content #rhythm.active {
  background-color: #eee;
}


#content #rhythm strong {
  color: #777;
}


#content #rhythm.active strong {
  color: #000;
}


#content #play {
  width: 1080px;
}


#content #play #play-button-wrapper {
  width: 200px;
}


#content #play #step-rate-wrapper {
  width: 880px;
  text-align: right;
}


#content select, #content input[type="text"] {
  margin-right: 1em;
}


#content #play #step-rate-wrapper #step-rate {
  margin-right: 0;
}


#content #play #bpm-value {
  display: inline-block;
  width: 32px;
}


#content #play #bpm {
  vertical-align: middle;
  margin: -2px 1em 0 0;
}


#content #current-sequence {
  margin: 1em auto;
  visibility: hidden;
  font-size: .9em;
  text-align: center;
}


#content #rhythm label input[type="checkbox"] {
  margin: -2px 0 0;
  vertical-align: middle;
}


#content #rhythm button {
  position: relative;
  width: 100%;
  vertical-align: middle;
  margin-top: -4px;
  width: 20px;
  height: 20px;
  border: 1px solid #09c;
}


#content #rhythm button:last-of-type {
  margin-right: 1em;
}


#content #rhythm button:disabled {
  background: #eee;
  border: 1px solid #ddd;
}


#content button.active {
  background-color: #09c;
}


#content button.off {
  background-color: #eee;
}


#drum-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}


#drum-machine {
  width: 512px;
  padding: 10px;
  border: 1px solid #ccc;
}


#drum-machine .drum-step {
  width: 27px;
}


#drum-machine .drum-step button {
  /* margin: 2px 2px 0 2px; */
  width: 25px;
  height: 25px;
  border: 1px solid #09c;
}


#drum-machine #drum-labels {
  width: 75px;
  margin-right: 5px;
}


#drum-machine #drum-labels .drum-label {
  width: 75px;
  height: 25px;
  margin: 3px 0 0 0;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}


#drum-machine #drum-labels .drum-label:first-child,
#drum-machine .drum-step button.transport  {
  height: 15px;
  margin-bottom: 0;
}


#drum-machine .drum-step button.transport {
  background-color: #999;
  border: 1px solid #bbb;
}


.about ol.citations {
  padding-inline-start: 20px;
}


.about ol.citations li {
  margin-bottom: 1em;
}


.about span.citation {
  margin-left: 40px;
  text-indent: -40px;
  display: block;
}


#content a,
#content a:visited {
  color: #09c;
  text-decoration: none;
}


#content a:hover {
  text-decoration: underline;
}


#content table#self-replicating-melody {
  border-collapse: collapse;
  width: 100%;
}


#content table#self-replicating-melody tbody th,
#content table#self-replicating-melody thead th.first {
  text-align: right;
  padding-right: 15px;
  width: 20%;
}


#content table#self-replicating-melody tbody td {
  text-align: center;
}


#content table#self-replicating-melody th,
#content table#self-replicating-melody td {
  background-color: #fff;
}


#content table#self-replicating-melody th.active,
#content table#self-replicating-melody td.active {
  background-color: yellow;
}


#content p.highlight-ratio {
  text-align: center;
}
